[submodule "vim/bundle/vim-javascript"]
	path = vim/pack/syntax/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-polyglot"]
	path = vim/pack/syntax/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/bundle/vim-markdown-jekyll"]
	path = vim/pack/syntax/start/vim-markdown-jekyll
	url = https://github.com/PProvost/vim-markdown-jekyll.git
